.copyright__text-and-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
}

.copyright__text-and-icon-block {
  display: block;
}

.copyright__text {
  font-size: 14px;
  line-height: 24px;
  opacity: 0.5;
  margin-top: 0;
  margin-bottom: 0;
}

.copyright__text--indent {
  margin-bottom: 0;
  padding-bottom: 20px;
}


@media (min-width: @tablet-width) {
  .copyright {
    display: flex;
  }

  .copyright__text-and-icon {
    margin-bottom: 0;

    & svg {
      margin-left: 30px;
    }
  }

  .copyright__text--indent {
    margin-left: 8px;
    margin-top: -2px;
  }


}
