.footer {
  background-color: @footer-background;
  color: @footer-color;
  padding-top: 18px;
  padding-bottom: 24px;
  font-size: 14px;
  margin-top: 72px;
}

.footer__section {
  margin-bottom: 30px;
}

.footer__nav-list {
  .list-unstyled()
}

.footer__nav-item {
  margin-bottom: 10px;
}

.footer__nav-link {
  text-transform: uppercase;
  color: @footer-color;
  font-size: 14px;
  line-height: 24px;
}

.footer__nav-item-icon {
  display: none;
}

@media (min-width: @tablet-width) {
  .footer {
    padding-top: 50px;
    font-size: 16px;
    padding-bottom: 0;
  }

  .footer__block {
    display: flex;
    justify-content: space-between;
  }

  .footer__nav {
    display: flex;
  }

  .footer__nav-list--indent {
    margin-left: 60px;
  }

  .footer__copyright {
    padding-bottom: 40px;
  }
}

@media (min-width: @desktop-width) {

  .footer__block {
    display: block;
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .footer__section--indent {
    margin-right: 200px;
  }

  .footer__nav-item {
    margin-bottom: 0;
  }

  .footer__nav-link--lk {
    position: relative;
  }

  .footer__nav-item-icon {
    display: inline;
    position: absolute;
    left: -35px;
    top: -6px;
  }
}
