.header {
  margin-top: 20px;
}

.header__logo-image {
  display: none;
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 22px;
}

.header__body {
  display: flex;
  flex-direction: column;
}

.header__intro {
  position: relative;
  left: -20px;
  width: 320px;
  min-height: 200px;
  background-image: url("../img/banner-mobile@1x.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/banner-mobile@2x.jpg");
  }

  margin-bottom: 32px;
}

.header__logo-text {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;

  &--first-line {
    color: #151f6d;
  }

  &--second-line {
    color: #e00640;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 24px;
}

.header__icon-nav {
  display: block;
}

.header__text-nav {
  display: block;
  text-transform: uppercase;
  margin-left: 10px;
  color: #94b0be;
  font-size: 14px;
  line-height: 24px;
}

.header__logo-text {
  text-transform: uppercase;
}

.header-lead {
  text-transform: uppercase;
  color: #151f6d;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 24px;
}

@media (min-width: @tablet-width) {
  .header__logo-image {
    display: block;
  }

  .header__logo-text {
    display: none;
  }

  .header__text-nav {
    font-size: 16px;
  }

  .header-lead {
  	font-size: 28px;
  	line-height: 36px;
  }

  .header__body {
    flex-direction: row;
  }

  .header__body-top {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .header__intro {
    background-image: url("../img/banner-tablet@1x.jpg");
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/banner-tablet@2x.jpg");
    }
    width: 428px;
    height: 321px;
    background-size: 100%;
    left: 49px;
    margin-top: -113px;
  }

  .header-lead {
    margin-top: 10px;
  }

}

@media (min-width: @desktop-width) {
  .header__intro {
    width: 915px;
    height: 480px;
    background-image: url("../img/banner-desktop@1x.jpg");
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/banner-desktop@2x.jpg");
    }
  }

  .header-lead {
  	font-size: 40px;
  	line-height: 48px;
  }
}
