.social__text {
  font-size: 14px;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 8px;
}

@media (min-width: @tablet-width) {
  .social__text {
    font-size: 16px;
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .social {
    display: flex;
  }

  .social__icons {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
  }

  .social__text {
    padding-top: 5px;
  }

  .address {
    margin-top: 20px;
  }
}
