.sub-section__nav {
  display: flex;
  justify-content: space-between;
}

.sub-section__nav-text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 0;
  color: #0d87c8;
}

@media (min-width: @tablet-width) {
  .sub-section {
    display: flex;
  }

  .sub-section__subtitle {
    margin-top: 0;
    font-size: 16px;
    line-height: 24px;
  }

  .sub-section__nav-text {
  	font-size: 16px;
  }

  .sub-section__part {
    width: 50%;
  }

  .sub-section--indent {
    margin-right: 20px;
  }
}

@media (min-width: @desktop-width) {
  .sub-section__subtitle {
    font-size: 18px;
    line-height: 32px;
  }	
}

