.toogler {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  background-color: transparent;
  border: none;
}

.toogler__icon {
  display: block;
}

.toogler__text {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: #0d87c8;
  margin-left: 9px;
  padding-bottom: 5px;
}

@media (min-width: @tablet-width) {
  .toogler {
    display: none;
  }
}
