.toogler {
  display: flex;
}

.toogler__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: #0d87c8;
}

@media (min-width: @tablet-width) {

  .toogler {
    display: none;
  }

}
