@header-color: #151f6d;
@primary-color: #94b0be;
@nav-color-active: #e00640;
@nav-section-color: #0d87c8;
@card-border-color: #e8e8e9;
@footer-background: #151f6d;
@footer-color: #ffffff;
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1440px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
